.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .6);
    width: 180px;
    height: 250px;
    border: none;
    margin: 1rem;
}

img {
    width: 95%;
    border-radius: 100%;
    border: solid 2px rgb(64, 239, 64);
    margin-bottom: 1.5rem;
}

h3 {
    margin: 0;
}

.delete-card {
    width: 100%;
    display: flex;
    background-color: transparent;
    padding: 0;
    border: none;
}