.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  margin: 0;
  background-color: rgba(0, 0, 0, .8);
  
}

h3 {
  color: white;
}
