body {
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  transition: color 0.4s ease-in-out;
  background-color: black;
  font-size: 16px;
  margin: 1rem;
  padding: 1rem 4rem;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  /* border: none; */
}

.create-button:hover {
  color: rgb(111, 199, 111);
}

.delete-button:hover {
  color: #FA948F;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  width: 90%;
}
