* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background-image: url("https://cdn.pixabay.com/photo/2016/02/19/10/51/bokeh-1209437_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}